<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dev</title>
  <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
</head>
<body>
  <input type="text" id="profile">
  <button id="find">Find</button>
  <div id="root"></div>
  <script src="/js/dev.js"></script>
</body>
</html>
